form {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.form-container {
    height: 300px;
    width: 400px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}